---
layout: default
---

<div class="post-lists">

    <h1 class="page-heading hide">Posts</h1>

    {{ content }}

    {% for post in site.posts %}
    <article class="post-list">
        <header class="post-header">
            <small class="post-date">{{ post.date | date: "%Y %-B %d" }}</small>
            <small class="post-tag">
                {% for tag in post.tags %}
                {% capture tag_name %}{{ tag }}{% endcapture %}
                <a href="/tag/{{ tag_name }}">{{ tag_name }}</a>
                {% endfor %}
            </small>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </header>
        <div class="post-content">
            {{ post.excerpt }}

            <div class="right-align">
                <a class="more-link" href="{{ post.url | relative_url }}">View more</a>
            </div>
        </div>

    </article>
    <div class="divider"></div>
    {% endfor %}

</div>
