---
layout: default
---
<article class="post">

    <header class="post-header">
        <h1 class="">Tag: <span class="tag chip btn disabled">{{ page.tag | escape }}</span></h1>
    </header>

    <div class="post-content">
        <ul>
            {% for post in site.tags[page.tag] %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                <small class="post-date">({{ post.date | date: '%Y %B %d' }})</small>
            </li>
            {% endfor %}
        </ul>
    </div>

</article>

<div class="divider"></div>

<div class="tag-cloud center-align">
    <h2>Archive</h2>

    {% assign t_cloud = site.tags | sort %}
    {% for t in t_cloud %}
    <a href="/tag/{{ t | first | slugify }}/" class="chip btn">
        {{ t[0] | replace:'-', ' ' }} ({{ t | last | size }})
    </a>
    {% endfor %}
</div>